<p>svg-download HTML!</p>
<div *ngIf = " formaSeleccionada === 'cuadrado-rectangulo' || formaSeleccionada === 'texto' || formaSeleccionada === 'linea' ">
  <h1>Ajustar {{ formaSeleccionada | titlecase}} - </h1>
    <div *ngIf="formaSeleccionada !== 'linea'">
      <label for="coordX">Coordenada X: </label>
      <input type="number" id="coordX" placeholder="Añade coordenada X" [(ngModel)]="svg.coordX" />
    </div>
    <div *ngIf="formaSeleccionada !== 'linea'">
      <label for="coordY">Coordenada Y:</label>
      <input type="number" id="coordY" placeholder="Añade coordenada Y" [(ngModel)]="svg.coordY" />
    </div>
    <div *ngIf="formaSeleccionada === 'cuadrado-rectangulo'">
      <label for="width">Ancho: </label>
      <input type="number" id="width" placeholder="Añade el ancho" [(ngModel)]="svg.width" />
    </div>
    <div *ngIf="formaSeleccionada === 'cuadrado-rectangulo'">
      <label for="height">Alto: </label>
      <input type="number" id="height" placeholder="Añade el alto" [(ngModel)]="svg.height" />
    </div>
    <br>
    <div *ngIf="formaSeleccionada === 'cuadrado-rectangulo'">
      <input type="checkbox" [(ngModel)]='svg.rellenado' />
      <label>Rellenado de figura?</label>
    </div>
    <div>
      <label for="color">Color: </label>
      <input type="color" id="color" placeholder="Añade el color deseado" [(ngModel)]="svg.stroke" />

    </div>
</div>


<div *ngIf="formaSeleccionada === 'texto'">
  <hr>
  <label for="fuente">Fuente:</label>
  <select type="text" id="fuente" [(ngModel)]="svg.fuente" placeholder="Seleccione la fuente del texto">
    <option *ngFor="let fuente of fuentesDisponibles" [value]="fuente">{{ fuente }}</option>
  </select>

  <br>
  <label for="tamanoLetra">Tamaño de Letra:</label>
  <input type="number" id="tamanoLetra" placeholder="Indica el tamaño de letra" [(ngModel)]="svg.tamanoLetra" />

  <br>
  <label for="textoIntroducido">Texto a introducir: </label>
  <input type="text" id="textoIntroducido" placeholder="Añade el texto deseado" [(ngModel)]="svg.textoIntroducido" />
</div>

<hr>

<div *ngIf="formaSeleccionada === 'linea'">
  <label for="x1">Coordenada de incio X: </label>
  <input type="number" id="x1" placeholder="Añade coordenada X1" [(ngModel)]="svg.x1" />

  <br>
  <label for="y1">Coordenada de inicio Y:</label>
  <input type="number" id="y1" placeholder="Añade coordenada Y1" [(ngModel)]="svg.y1" />

  <br>
  <label for="x2">Coordenada final X:</label>
  <input type="number" id="x2" placeholder="Añade coordenada X2" [(ngModel)]="svg.x2" />

  <br>
  <label for="y2">Coordenada final Y:</label>
  <input type="number" id="y2" placeholder="Añade coordenada Y2" [(ngModel)]="svg.y2" />

  <br>
  <label for="strokeWidth">Ancho de Línea:</label>
  <input type="number" id="strokeWidth" placeholder="Indica el ancho de la línea" [(ngModel)]="svg.strokeWidth" />
</div>


<button *ngIf="svg.forma !== '' && mostrarFormularioEdicion !== true" (click)="descargarSVG()">Descargar SVG Personalizado</button>
<button *ngIf="mostrarFormularioEdicion !== true" (click)="generarSvg()">Añadir forma</button>
<button (click)="resetFormas()">Resetear vista</button>
<br>
<div *ngIf="mostrarFormularioEdicion">
  <button (click)="guardarCambios()">Guardar Cambios</button>
  <button (click)="cancelarEdicion()">Cancelar</button>
</div>
<br>
 <!-- <div [innerHTML]="generarSvgCompleto()" (dblclick)="editarFigura($event)"></div> Insertando el svg en el html -->

<svg xmlns="http://www.w3.org/2000/svg" width="1000" height="600">
  <ng-container *ngFor="let figura of formasAlmacen">
    <g (dblclick)="editarFigura(figura)" [attr.id]="'figura-' + figura.id">
      <ng-container *ngIf="figura.forma === 'cuadrado-rectangulo'">
        <!-- Cuadrado o Rectángulo -->
        <rect
          [attr.x]="figura.coordX"
          [attr.y]="figura.coordY"
          [attr.width]="figura.width"
          [attr.height]="figura.height"
          [attr.fill]="figura.rellenado ? figura.stroke : 'none'"
          [attr.stroke]="figura.stroke"
          [attr.stroke-width]="figura.strokeWidth"
        />
      </ng-container>
      <ng-container *ngIf="figura.forma === 'texto'">
        <!-- Texto -->
        <text
          [attr.x]="figura.coordX"
          [attr.y]="figura.coordY"
          [attr.font-family]="figura.fuente"
          [attr.font-size]="figura.tamanoLetra"
          [attr.fill]="figura.stroke"
        >
          {{ figura.textoIntroducido }}
        </text>
      </ng-container>
      <ng-container *ngIf="figura.forma === 'linea'">
        <!-- Línea -->
        <line
          [attr.x1]="figura.x1"
          [attr.y1]="figura.y1"
          [attr.x2]="figura.x2"
          [attr.y2]="figura.y2"
          [attr.stroke]="figura.stroke"
          [attr.stroke-width]="figura.strokeWidth"
        />
      </ng-container>
    </g>
  </ng-container>
</svg>




